* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --font-family-heading: 'Staatliches', cursive;
    --font-family-text: 'Palanquin', sans-serif;

    --font-color-card: hsla(232, 17%, 35%, 1);

    --background-color-body: #EFF1FF;
    --background-color-header: #8E9AAF;
    --background-color-card: #FEEAFA;

}

header {
    background: var(--background-color-header);
    width: 38.4rem;
    margin: 0 auto;

    height: 31rem;

    padding-bottom: 3rem;
}

header img {
    display: flex;
    margin: 0 auto;
    padding: 3.2rem 0 0;
    margin-bottom: 3.2rem;
}

header h1 {
    font-size: 4.0rem;
    font-family: var(--font-family-heading);
    line-height: 3.4rem;

    background: hsla(275, 18%, 79%, 1);

    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;

}

.page {
    max-width: 38.4rem;
    margin: 0 auto;
    
    background: var(--background-color-body);

    padding: 1.4rem 3.2rem 6rem;
}

.lorem {
    font-family: var(--font-family-text);
    font-size: 2.0rem;
    line-height: 1.5rem;

    display: flex;
    align-items: center;
    text-align: center;

    color: #23053A;

    padding-top: 1.4rem;

    margin-bottom: 6.3rem;

}

.small-card {
    position: relative;

    font-family: var(--font-family-heading);

    margin-bottom: 3.6rem;

    animation: downtop 700ms;
}

.small-card img {
    width: 32rem;
    height: 25rem;

    object-fit: cover;
    border-radius: 2rem;
}

.small-card h2 {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    width: 11.2rem;
    height: 3.5rem;

    font-weight: 400;
    font-size: 2rem;
    font-family: var(--font-family-heading);
    letter-spacing: 0.05em;

    padding-top: 4px;
    text-align: center;
    color: var(--font-color-card);


    background: var(--background-color-card);
    border-radius: 2rem;

    animation: topdown 700ms 350ms backwards;

}

.card {
    position: relative;

    font-family: var(--font-family-heading);

    margin-bottom: 3.6rem;

    animation: downtop 700ms;
}

.card h2 {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    width: 11.2rem;
    height: 3.5rem;

    font-weight: 400;
    font-size: 2rem;
    font-family: var(--font-family-heading);
    letter-spacing: 0.05em;

    padding-top: 4px;
    text-align: center;
    color: var(--font-color-card);


    background: var(--background-color-card);
    border-radius: 2rem;

    animation: topdown 700ms 350ms backwards;

}

img {
    transition: all 200ms;
}

img:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

@keyframes downtop {

    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes topdown {

    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}